[Tt]emp/
[Bb]in/*.exe
[Bb]in/*.pdb
[Bb]in/*.dll
[Bb]in/*.log
[Ll]ib/
!Dependecies/FMod/core/lib/
[Oo]bj/

.vs/

*.user
*.obj
*.tlog
[Dd]ependecies/Ogre/[Bb]uild/
[Dd]ependecies/Lua/[Bb]uild/
[Dd]ependecies/Bullet/[Bb]uild/