[Tt]emp/
[Bb]in/*.exe
[Bb]in/*.pdb
[Bb]in/*.dll
[Bb]in/*.log
[Bb]in/*.lib
[Ll]ib/
!Dependecies/FMod/core/lib/
[Oo]bj/

.vs/


*.obj
*.tlog
[Dd]ependecies/Ogre/[Bb]uild/
[Dd]ependecies/Lua/[Bb]uild/
Dependecies/Bullet/Src/examples/ThirdPartyLibs/openvr/bin
Dependecies/Bullet/Build/